@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/static/assets/MaterialIcons.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-size: 1rem;
}
