@import url(icons.css);
@import url(fonts.css);

:root {
  --cta: #8d6e63;
  --cta-dark: #5f4339;
  --white: #fafafa;
  --black: #212121;
  --entry-color: #bdb9b7;
  --entry-color-dark: #8d8987;
  --results-background: #be9c91;
  --results-background-dark: var(--cta-dark);
  --blue-link: #6ec6ff;
  --blue-link-light: #1565c0;
  --visited-link: #7b1fa2;
  --visited-link-dark: #e283ff;
  --yellow: #ffb300;
}

.legal-note {
  background-color: var(--cta);
  color: var(--white);
  padding: 1rem;
  border-radius: 16px;
  margin-bottom: 1rem;
}

.legal-note::before {
  content: "Note";
  background-color: var(--yellow);
  color: var(--black);
  border-radius: 0.25rem;
  padding: 2px;
}

a {
  color: var(--blue-link-light);
}

a:visited {
  color: var(--visited-link);
}

#results {
  background: var(--results-background);
  padding: 1rem;
  border-radius: 16px;
}

body {
  font-family: sans-serif;
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
}

input {
  border-radius: 16px;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: var(--entry-color);
  font-family: "Roboto", sans-serif;
}

.homepage-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#ddg-icon {
  height: 128px;
  margin-bottom: 1.5rem;
}

#ddg-logo-container {
  color: unset;
  text-decoration: none;
}

#ddg-logo-search {
  display: inline;
  margin-right: 0.5rem;
  height: 2rem;
  vertical-align: middle;
}

.result-container {
  margin-bottom: 8px;
}

.result-link {
  color: var(--black) !important;
  text-decoration: none;
  font-size: 9pt;
  color: var(--black);
}

.result-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.result-snippet {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 10pt;
  width: 60%;
  color: var(--black);
}

.about-odd {
  background-color: var(--entry-color);
  border-radius: 16px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  color: var(--black);
}

.about-odd a {
  color: var(--blue-link-light);
}

.about-even {
  background-color: var(--entry-color-dark);
  border-radius: 16px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: right;
}

.about-even a {
  color: var(--blue-link);
}

#back-to {
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
}

#navigation {
  text-align: right;
}

input[type="submit"] {
  background-color: var(--cta);
  color: var(--white);
  vertical-align: middle;
  font-size: 0.8rem;
  width: calc(0.8rem * 2.5);
  height: calc(0.8rem * 2.5);
  border-radius: 8px;
  margin-top: -3px;
}

form {
  white-space: nowrap;
}

td > a > img {
  width: 75%;
}

.image-link {
  text-decoration: none;
}

hr {
  border: solid;
  border-color: #7f7f7f;
  border-width: 4px;
  border-radius: 4px;
}

.favicon {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--black);
    color: var(--white);
  }

  #results {
    background-color: var(--results-background-dark);
  }

  .result-link {
    color: var(--white) !important;
  }

  .result-snippet {
    color: var(--white) !important;
  }

  input[type="submit"] {
    background-color: var(--cta-dark);
  }

  input {
    background-color: var(--entry-color-dark);
    color: var(--white);
  }

  a {
    color: var(--blue-link);
  }

  a:visited {
    color: var(--visited-link-dark);
  }

  .legal-note {
    color: var(--white);
    background-color: var(--cta-dark);
  }

  .about-odd a {
    color: var(--blue-link-light);
  }

  .about-even a {
    color: var(--blue-link);
  }
}

@media (hover: none) {
  #search-details {
    display: none;
  }

  #results {
    margin-top: 0.75rem;
  }

  .result-snippet {
    width: unset;
  }
}
