<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
    <link
      rel="search"
      href="search_engine.xml"
      type="application/opensearchdescription+xml"
      title="Xrch"
    />
    <meta
      name="description"
      content="A simple and fast search engine. Most of them track you, but we don't. We don't even have a database."
    />
  </head>

  <body>
    <a href="/" id="back-to">Back to search</a>
    <div class="about-odd">
      For legal documents, go here:
      <a href="http://xrch.rf.gd/wiki/index.php/End_User_License_Agreement"
        >EULA</a
      >
      or
      <a href="http://xrch.rf.gd/wiki/index.php/Privacy_Policy"
        >Privacy Policy</a
      >
    </div>
    <div id="about">
      <div class="about-odd">
        <h1>Many search engines track you. We don't.</h1>
        <p>
          It has been proven that DuckDuckGo has Microsoft trackers on their
          site. This is because DuckDuckGo has a partnership with Microsoft to
          use Bing as their source of results.
        </p>
        <p>Although we use Bing results, we're being tracked, not you.</p>
      </div>
      <div class="about-even">
        <h1>We don't use JavaScript.</h1>
        <p>
          Not all JavaScript is bad, but sites can use it to track you. Some
          websites don't look pretty at all without it, but we are an exception.
          All of this design can be done with CSS, a language that can only
          style websites.
        </p>
      </div>
      <div class="about-odd">
        <h1>We also want people to create search engines, too!</h1>
        <p>We have a free API that anyone can use without a key.</p>
      </div>
      <div class="about-even">
        <h1>We're trusted by Replit!</h1>
        <p>
          <a href="//replit.com" target="_blank">Replit</a> is a tool to host
          your site, share your code, and much more! They selected us for the
          Creator Fund of June 2022. We use Replit to host our site, so you can
          also host your own site.
        </p>
      </div>
      <div class="about-odd">
        <h1>We're open source!</h1>
        <p>
          We're open source. You can view our code on
          <a href="//replit.com/@CharlesSharma/Xrch" target="_blank">Replit</a>.
          We don't have a way to contribute, but you can email us using the
          email address in the EULA &#xA7; Conditions section.
        </p>
      </div>
      <div class="about-even">
        <h1>We also love mobile!</h1>
        <p>We updated our site to work properly with mobile devices.</p>
      </div>
    </div>
  </body>
</html>
