<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if query %} {{query}} {% else %} [Reverse image search] {% endif %}
    </title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
    <link
      rel="search"
      href="search_engine.xml"
      type="application/opensearchdescription+xml"
      title="Xrch"
    />
    <meta
      name="description"
      content="A simple and fast search engine. Most of them track you, but we don't. We don't even have a database."
    />
  </head>

  <body>
    <a href="/" id="ddg-logo-container"
      ><img
        src="{{url_for('static', filename='assets/logo.png')}}"
        alt="Xrch"
        id="ddg-logo-search"
    /></a>
    {% if not classic %}
    <form action="i" style="display: inline">
      <input
        type="text"
        name="q"
        placeholder="Enter a search term"
        value="{{query}}"
      />
      <input type="submit" class="search-icon material-icons" value="search" />
    </form>
    {% endif %} {% if classic %}
    <form action="i" style="display: inline">
      <input
        type="text"
        name="q"
        placeholder="Enter a search term"
        value="{{query}}"
      />
      <br class="if-spacer" />
      <br class="if-spacer" />
      <div class="image-filters">
        <select name="imagesize" id="imagesize">
          <option value="" disabled selected>Image Size</option>
          <option value="">All</option>
          <option value="small">Small</option>
          <option value="medium">Medium</option>
          <option value="large">Large</option>
          <option value="wallpaper">Wallpaper</option>
        </select>
        <select name="color2" id="color">
          <option value="" disabled selected>Color</option>
          <option value="">All</option>
          <option value="color">Full Color</option>
          <option value="bw">Black & White</option>
          <option value="FGcls_RED">Red</option>
          <option value="FGcls_ORANGE">Orange</option>
          <option value="FGcls_YELLOW">Yellow</option>
          <option value="FGcls_GREEN">Green</option>
          <option value="FGcls_TEAL">Teal</option>
          <option value="FGcls_BLUE">Blue</option>
          <option value="FGcls_PURPLE">Purple</option>
          <option value="FGcls_PINK">Pink</option>
          <option value="FGcls_BROWN">Brown</option>
          <option value="FGcls_BLACK">Black</option>
          <option value="FGcls_GRAY">Gray</option>
          <option value="FGcls_WHITE">White</option>
        </select>
        <select name="photo" id="type">
          <option value="" disabled selected>Type</option>
          <option value="">All</option>
          <option value="photo">Photo</option>
          <option value="clipart">Clip Art</option>
          <option value="linedrawing">Line Drawing</option>
          <option value="animatedgif">GIF</option>
          <option value="transparent">Transparent</option>
        </select>
        <select name="aspect" id="aspectratio">
          <option value="" disabled selected>Aspect Ratio</option>
          <option value="">All</option>
          <option value="square">Square</option>
          <option value="wide">Wide</option>
          <option value="tall">Tall</option>
        </select>
        <select name="face" id="people">
          <option value="" disabled selected>People</option>
          <option value="">All</option>
          <option value="face">Faces Only</option>
          <option value="portrait">Portrait</option>
        </select>
        <select name="age" id="date">
          <option value="" disabled selected>Date</option>
          <option value="">All</option>
          <option value="lt1440">Past Day</option>
          <option value="lt10080">Past Week</option>
          <option value="lt43200">Past Month</option>
          <option value="lt525600">Past Year</option>
        </select>
        <select name="license" id="license">
          <option value="" disabled selected>License</option>
          <option value="">All</option>
          <option value="any">Creative Commons</option>
          <option value="L1">Public Domain</option>
          <option value="L2_L3_L4_L5_L6_L7">Free to share and use</option>
          <option value="L2_L3_L4">Free to share and use commercially</option>
          <option value="L2_L3_L5_L6">Free to modify, share, and use</option>
          <option value="L2_L3">
            Free to modify, share, and use commercially
          </option>
        </select>
      </div>
      <input type="submit" class="search-icon material-icons" value="search" />
    </form>
    {% endif %}
    <!-- prettier-ignore -->
    <p id="search-details">
      About {{results_amount}} results, took {{time_took}}s, sent via
      <a
        href="https://codetabs.com/ip-geolocation/ip-geolocation.html?q={{ip}}"
        target="_blank"
        >{{ip}}</a
      >{% if classic %}, <a href="imageapi?q={{query_encoded}}&p=0" target="_blank">Open in API</a> {% endif %}
    </p>
    <p id="search-types">
      <a href="s?q={{query_encoded}}&p=0">Web</a>
      <a href="i?q={{query_encoded}}">Images</a>
    </p>
    <table id="results">
      {% for row in results %}
      <tr>
        {% for result in row %}
        <td>
          <a href="{{result.url}}" class="image-link"
            ><img src="{{result.url}}" alt=""
          /></a>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
