<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xrch</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
    <link
      rel="search"
      href="search_engine.xml"
      type="application/opensearchdescription+xml"
      title="Xrch"
    />
    <meta
      name="description"
      content="A simple and fast search engine. Most of them track you, but we don't. We don't even have a database."
    />
  </head>

  <body>
    <div class="homepage-container">
      <img
        src="{{url_for('static', filename='assets/logo.png')}}"
        alt="Xrch logo"
        id="ddg-icon"
        title="Xrch it!"
      />
      <form action="s">
        <input type="text" name="q" placeholder="Enter a search term" />
        <input type="submit" value="search" class="material-icons" />
        <div id="navigation">
          <a href="about">about</a>
          <a href="http://xrch.rf.gd/wiki">wiki</a>
          <a href="{{url_for('static', filename='assets/ext.xpi')}}">ext</a>
        </div>
      </form>
    </div>
  </body>
</html>
